*.o
*.x
*.d
*.a
*.xml
/.project
*.XML
*.htm
*.html
*.dll
*.txt
*.patch
*.orig
*.out
*.log
*.sys
*.vxd
*.exe
*.tgz
.metadata/
*.sdf
*.suo
Debug
Release
Debug64
Release64
.metadata/
html/
latex/
*.swp
*.vcxproj.user
.vs/
.idea/
MacMSRDriver/build/XCBuildData/BuildDescriptionCacheIndex-a8569fcb44a9732da2bea149b0bd2190
MacMSRDriver/build/XCBuildData/build.db
MacMSRDriver/build/SharedPrecompiledHeaders/SharedPrecompiledHeaders/10082868194212363897/PcmMsr-Prefix.pch.dia
MacMSRDriver/build/SharedPrecompiledHeaders/SharedPrecompiledHeaders/10082868194212363897/PcmMsr-Prefix.pch.gch
MacMSRDriver/build/SharedPrecompiledHeaders/SharedPrecompiledHeaders/2716370949985283424/PcmMsr-Prefix.pch.dia
MacMSRDriver/build/SharedPrecompiledHeaders/SharedPrecompiledHeaders/2716370949985283424/PcmMsr-Prefix.pch.gch
MacMSRDriver/build/XCBuildData/530e1a39bee0a72a654f95b900d543d9-desc.xcbuild
MacMSRDriver/build/XCBuildData/530e1a39bee0a72a654f95b900d543d9-manifest.xcbuild
MacMSRDriver/build/XCBuildData/b149f9ded17f62375c8318809d0865c0-desc.xcbuild
MacMSRDriver/build/XCBuildData/b149f9ded17f62375c8318809d0865c0-manifest.xcbuild
